<h1>
    Steam Recommendations
</h1>
<form (submit)="getStats()">
    <input type="text"
           placeholder="username"
           [(ngModel)]="username"
           name="username">

    <button type="submit">Get stats</button>
</form>
<div>
    <ul>
        <li *ngFor="let game of games">
            {{game.name}}:
            <ul>
                <li *ngFor="let achv of game.achievements">
                    {{achv.name || achv.apiname}}
                </li>
            </ul>
        </li>
    </ul>
</div>
